.App {
  text-align: center;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid salmon;
  padding: 0.5rem;
  background-color: lightblue;
  margin-right: 0.7rem;
  border-radius: 4px;
}

